<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002406/" target="_top"><img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/indianmoto_brand.jpg"></a>
        </td>
        <td>伝説のアメリカンモーターサイクル”INDIAN”をメインコンセプトに、<br>
      バイカー系、アメカジウェアを提案するブランドです。<br>
      また近年ではネイティブアメリカンスタイルを打ち出し、<br>
      現代のウェアスタイルと融合させたデザインは<br>
      洗練された大人の為のアイテムとして注目となっています。</td>
      </tr>
</table>