<!--ブランドコンセプトここから-->
    <table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://store.shopping.yahoo.co.jp/rodeobros/sugarcane2.html" target=
          "_top"><img id="brand-image" src=
          "http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/sc_brand.jpg"></a>
        </td>
        <td>SUGAR CANE(シュガーケーン)「サトウキビ」という名を持ついかにもアメリカ的なこのブランドこそ、<br />
      日本に誕生した初めての米軍向け衣料メーカーである。<br />
      当時米軍基地に駐屯していた将校によって「SUGAR CANE」と名付けられる。<br />
      SUGAR CANEの誕生は日本でありながら、米軍基地を相手に育っただけにその精神も物作りのノウハウも本場仕込み。<br />
      当時から現在までアメリカのシンボルとも言えるデニム素材を中心とした本格仕込みのワークウェアを作り続けている。</td>
      </tr>
    </table>