
<table id="brand-concept" width="840">
      <tr>
        <td>
        <a href="http://store.shopping.yahoo.co.jp/rodeobros/theflathea.html" target="_top"> <img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/tfh_brand.jpg"> </a> </td>
        <td>代表作ジーンズ3005やTHCシリーズなど、妥協せず拘り抜いた多くのアイテムを<br>
      製作するフラットヘッド。ヴィンテージアイテムの良いところは受け継ぎつつ、<br>
      より現代にマッチする機能性やシルエット、デザインを落とし込んでいます。<br>
      一目でフラットヘッドだとわかるクオリティと美しいシルエットで、<br>
      日本のアメカジシーンにおいて確固たる地位を築きあげています。</td>
      </tr>
</table>