<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://store.shopping.yahoo.co.jp/rodeobros/b3bbyoroi.html" target="_top">
            <img id="brand_logo" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/yoroi_brand.jpg" alt="yoroi">
          </a>
        </td>
        <td>「鎧のように丈夫な日本製品を世界に発信」をメインテーマに<br>
      日本の誇るべき職人技や伝統文化、歴史を服に刻んでいく。<br>
      そのシンプル且つ大胆なデザインと妥協を許さないクラフトマンの拘りは<br>
      幅広い年齢層の支持と高い評価を得ている。<br>
      現在急速に歩みを進めている注目の新鋭ブランド。
        </td>
      </tr>
</table>