<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g145594/list.html" target="_top"><img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/alpha_brand.jpg"></a>
        </td>
        <td>アメリカ・テネシーで創業したミリタリーブランド。<br>
      軍用ジャケットの技術的向上に携わりつつ、一般ユーザーに向け<br>
      時代にあった最先端なアイテムを作り続ける事で世界中で支持を得ています。<br>
      妥協のないモノ作りの精神はブーツ作りへと受け継がれており<br>
      高い技術によって作られるブーツは本物志向のユーザーを魅了している。</td>
      </tr>
</table>