<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g140014/list.html" target="_top"><img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/vansoncw_brand.jpg"></a>
        </td>
        <td>高橋ヒロシ先生の描くコミック「CROWS X WORST」で描かれる<br>
        熱く確固たるアンデンティティを持った男たち<br>
        原作を大切にしながら、ウェアから発信する新たなる「CROWS X WORST」の世界観。<br>
        原作に忠実に、時には独自のアレンジや進化を加え、ウエアとしての「CROWS×WORST」を具現化。<br>
        あの有名ブランド「VASON」とのコラボが遂に実現！</td>
      </tr>
    </table>