<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g42521/list.html" target="_top">
            <img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/iron_brand.jpg">
          </a>
        </td>
        <td>古きよきアメリカのLIFE STYLEに尊敬と憧れを込め、<br>
      そこにクラフトマンとしての誇りと技術でバイク乗りの為のアイテムを作りだす。<br>
      「古くて新しい、ゴツくて強靱」をテーマに耐久性や日本製に拘り抜いたアイテム達は<br>
      日本に留まらず世界中のファンを魅了し続けている。<br>
      熱狂的なバイク乗り達が立ち上げたバイク乗りによるバイク乗りのためのブランド。
        </td>
      </tr>
</table>