<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g145596/list.html" target="_top"> 
          <img id="brand_logo" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/mefreedom_brand.jpg" alt="skullcrows"> </a>
        </td>
        <td>MISTER FREEDOMとSUGAR CANEのコラボレーション、MFSC。<br>
      デザイナーのクリストフ・ルアロンはまずコンセプトを決め、次にストーリーを作り<br>
      劇中の登場人物が着用する洋服をイメージしてコレクションを創りあげる。<br>
      それはまさしくひとつの映画を完成させるまでの過程に似ており、2007年にMFSCがスタートして以来<br>
      これまで展開してきた数々のコレクションにも共通している。</p>
        </td>
      </tr>
</table>