<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g29479/list.html" target="_top">
            <img id="brand_logo" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/sun_brand.jpg" alt="skullcrows"> </a>
        </td>
        <td>SUN SURF（サンサーフ）とは、アロハシャツの黄金時代とされる1930～50年代にかけて作られた<br>
        「ヴィンテージ」と呼ばれる貴重なアロハシャツを生地からプリント、<br>
        各部のディテールまで妥協なく再現し、現代に蘇らせているブランドである。<br>
        サンサーフの歴史は深く、時をさかのぼること1950年代<br>
        現在ヴィンテージとして扱われているアロハシャツを、実際にハワイへ輸出していたのである。
        </td>
      </tr>
</table>