<!--ブランドコンセプトここから-->
<table id="brand-concept" width="840">
<tr>
<td>
<a href="http://www.aun-wa.com/SHOP/g29396/list.html" target=
"_top"><img id="brand-image" src=
"http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/ted_brand.jpg"></a>
</td>
<td>第二次世界大戦以来、戦意高揚の為にさまざまな部隊マスコットが誕生した。<br>
その中でも一際異彩を放ったのが「レッドデビル」である。<br>
テッドマンは、このデビルにインスパイアされ、その後タトゥーと化し、アンダーグランドに生きる者達の証しとなった<br>
いつしか、悪魔小僧のTATTOOが口から噴き出す炎により、邪鬼を吹き飛ばし身に付けている者にラッキーを招く！<br>
と云う噂が伝承され、このTATTOOをバイカーやロッカーなどアングラ系の若者達がこぞって腕や肩に刺した。</td>
</tr>
</table>