<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://www.aun-wa.com/SHOP/g44062/list.html" target="_top">
            <img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/vanson_brand.jpg">
          </a>
        </td>
        <td>最高品質のレザーウエアを追求し続ける数多くのライダーから信頼されるライダースジャケットの
          <br>トップブランドVANSON。しっかりしたコンセプトを着実に守り続けながら
          <br>熟練の職人たちの手により生み出だされる高品質のバイカー系アパレルグッズはいずれも魅力満載。
          <br>バンソンの持つブランドイメージや、そのクオリティの高さに魅了される人は多く、
          <br>品質にこだわるレザーファンを中心に圧倒的な人気を誇っています。
        </td>
      </tr>
</table>