<!--商品説明左リンク先、yahoo-->
<% if var == "alpha" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/alpha.html" target="_top"><div>ALPHA アルファ 商品一覧へ</div></a><% end -%>
<% if var == "buzzricksons" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/buzzrickso.html" target="_top"><div>BUZZ RICKSON'S バズリクソンズ 商品一覧へ</div></a><% end -%>
<% if var == "crowsworst" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/crowsa1dfw.html" target="_top"><div>CRWOS x WORST クローズワースト 商品一覧へ</div></a><% end -%>
<% if var == "disney" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/chigiri28b.html" target="_top"><div>Disney (ディズニー)商品一覧へ</div></a><% end -%>
<% if var == "eternal" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/eternal28a2.html" target="_top"><div>ETERNAL エターナル 商品一覧へ</div></a><% end -%>
<% if var == "indianmotocycle" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/indianmoto4.html" target="_top"><div>INDIAN MOTOCYCLE インディアンモトサイクル 商品一覧へ</div></a><% end -%>
<% if var == "ironheart" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/ironheart2.html" target="_top"><div>IRON HEART アイアンハート 商品一覧へ</div></a><% end -%>
<% if var == "kaminari" -%><p><a href="http://store.shopping.yahoo.co.jp/rodeobros/a5aba5dfa5.html" target="_top"><div>KAMINARI カミナリ 商品一覧</div></a></p><% end -%>
<% if var == "misterfreedom" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/misterfree.html" target="_top"><div>MISTER FREEDOM ミスター・フリーダム 商品一覧へ</div></a><% end -%>
<% if var == "nishiki" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/b6d328nish.html" target="_top"><div>NISHIKI 錦 商品一覧へ</div></a><% end -%>
<% if var == "onidenim" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/b5b4a5c7a5.html" target="_top"><div>ONI DENIM 鬼デニム 商品一覧へ</div></a><% end -%>
<% if var == "sugarcane" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/sugarcane2.html" target="_top"><div>SUGAR CANE シュガーケーン 商品一覧へ</div></a><% end -%>
<% if var == "sunsurf" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/sunsurf28a.html" target="_top"><div>SUN SURF サンサーフ 商品一覧へ</div></a><% end -%>
<% if var == "tedman" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/tedman27s2.html" target="_top"><div>TEDMAN テッドマン 商品一覧へ</div></a><% end -%>
<% if var == "theflathead" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/theflathea.html" target="_top"><div>THE FLAT HEAD フラットヘッド 商品一覧へ</div></a><% end -%>
<% if var == "vanson" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/vanson28a5.html" target="_top"><div>VANSON バンソン 商品一覧へ</div></a><% end -%>
<% if var == "williamgibson" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/williamgib.html" target="_top"><div>William Gibson ウィリアムギブソン 商品一覧へ</div></a><% end -%>
<% if var == "yoroi" -%><a href="http://store.shopping.yahoo.co.jp/rodeobros/b3bbyoroi.html" target="_top"><div>YOROI ヨロイ 商品一覧へ</div></a><% end -%>