<!--商品説明左リンク先、楽天-->
<% if var == "alpha" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002523/" target="_top">ALPHA (アルファ)</a></p>
<% end -%>
<% if var == "buzzricksons" -%>
<p><a href="http://store.shopping.yahoo.co.jp/rodeobros/buzzrickso.html" target="_top">BUZZ RICKSON'S (バズリクソンズ)</a></p>
<% end -%>
<% if var == "crowsworst" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002355/">クローズ×WORST (CROWS×WORST)</a></p>
<% end -%>
<% if var == "disney" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002482/" target="_top">Disney (ディズニー)</a></p>
<% end -%>
<% if var == "eternal" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002492/" target="_top">ETERNAL (エターナル)</a></p>
<% end -%>
<% if var == "indianmotocycle" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002406/" target="_top">INDIAN MOTOCYCLE (インディアンモトサイクル)</a></p>
<% end -%>
<% if var == "ironheart" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001317/" target="_top">IRON HEART (アイアンハート)</a></p>
<% end -%>
<% if var == "kaminari" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002322/" target="_top">KAMINARI (カミナリ)</a></p>
<% end -%>
<% if var == "misterfreedom" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002522/" target="_top">Mister Freedom (ミスターフリーダム)</a></p>
<% end -%>
<% if var == "nishiki" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001399/" target="_top">NISHIKI 錦 </a></p>
<% end -%>
<% if var == "onidenim" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002220/" target="_top">鬼デニム (ONI DENIM)</a></p>
<% end -%>
<% if var == "sugarcane" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001351/" target="_top">SUGAR CANE (シュガーケーン)</a></p>
<% end -%>
<% if var == "sunsurf" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001352/" target="_top">SUN SURF (サンサーフ)</a></p>
<% end -%>
<% if var == "tedman" -%>
<p><a href="http://store.shopping.yahoo.co.jp/rodeobros/buzzrickso.html" target="_top">TEDMAN (テッドマン)</a></p>
<% end -%>
<% if var == "theflathead" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002557/" target="_top">THE FLAT HEAD (ザ・フラットヘッド)</a></p>
<% end -%>
<% if var == "vanson" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001803/" target="_top">VANSON (バンソン)</a></p>
<% end -%>
<% if var == "williamgibson" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002578/" target="_top">William Gibson (ウィリアム ギブソン)</a></p>
<% end -%>
<% if var == "yoroi" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002393/" target="_top">YOROI (鎧)</a></p>
<% end -%>






















