<!--商品説明左リンク先、公式-->
<% if var == "alpha" -%>
<p><a href="http://www.aun-wa.com/SHOP/g145594/list.html" target="_top">ALPHA アルファ </a></p>
<% end -%>
<% if var == "buzzricksons" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29408/list.html" target="_top">BUZZ RICKSON'S バズリクソンズ </a></p>
<% end -%>
<% if var == "crowsworst" -%>
<p><a href="http://www.aun-wa.com/SHOP/g140014/list.html" target="_top">CRWOS x WORST クローズワースト </a></p>
<% end -%>
<% if var == "disney" -%>
<p><a href="http://www.aun-wa.com/SHOP/g42669/list.html" target="_top">Disney ディズニー </a></p>
<% end -%>
<% if var == "eternal" -%>
<p><a href="http://www.aun-wa.com/SHOP/g145630/list.html" target="_top">ETERNAL エターナル </a></p>
<% end -%>
<% if var == "indianmotocycle" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29436/list.html" target="_top">INDIAN MOTOCYCLE インディアンモトサイクル </a></p>
<% end -%>
<% if var == "ironheart" -%>
<p><a href="http://www.aun-wa.com/SHOP/g42521/list.html" target="_top">IRON HEART アイアンハート </a></p>
<% end -%>
<% if var == "kaminari" -%>
<p><a href="http://www.aun-wa.com/SHOP/g126742/list.html" target="_top">KAMINARI (カミナリ)</a></p>
<% end -%>
<% if var == "misterfreedom" -%>
<p><a href="http://www.aun-wa.com/SHOP/g145596/list.html" target="_top">MISTER FREEDOM ミスター・フリーダム </a></p>
<% end -%>
<% if var == "nishiki" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29404/list.html" target="_top">NISHIKI 錦 </a></p>
<% end -%>
<% if var == "onidenim" -%>
<p><a href="http://www.aun-wa.com/SHOP/g123507/list.html" target="_top">ONI DENIM 鬼デニム </a></p>
<% end -%>
<% if var == "sugarcane" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29413/list.html" target="_top">SUGAR CANE シュガーケーン </a></p>
<% end -%>
<% if var == "sunsurf" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29479/list.html" target="_top">SUN SURF サンサーフ </a></p>
<% end -%>
<% if var == "tedman" -%>
<p><a href="http://www.aun-wa.com/SHOP/g29396/list.html" target="_top">TEDMAN テッドマン </a></p>
<% end -%>
<% if var == "theflathead" -%>
<p><a href="http://www.aun-wa.com/SHOP/g140012/list.html" target="_top">THE FLAT HEAD フラットヘッド </a></p>
<% end -%>
<% if var == "vanson" -%>
<p><a href="http://www.aun-wa.com/SHOP/g44062/list.html" target="_top">VANSON バンソン </a></p>
<% end -%>
<% if var == "williamgibson" -%>
<p><a href="http://www.aun-wa.com/SHOP/list.cgi?Search=WILLIAM" target="_top">William Gibson ウィリアムギブソン </a></p>
<% end -%>
<% if var == "yoroi" -%>
<p><a href="http://www.aun-wa.com/SHOP/g140012/list.html" target="_top">YOROI ヨロイ </a></p>
<% end -%>































