<!--商品説明左リンク先、公式-->
<% if var == "alpha" -%>
<a href="http://www.aun-wa.com/SHOP/g145594/list.html" target="_top"><div>ALPHA アルファ 商品一覧</div></a>
<% end -%>
<% if var == "buzzricksons" -%>
<a href="http://www.aun-wa.com/SHOP/g29408/list.html" target="_top"><div>BUZZ RICKSON'S バズリクソンズ 商品一覧</div></a>
<% end -%>
<% if var == "crowsworst" -%>
<a href="http://www.aun-wa.com/SHOP/g140014/list.html" target="_top"><div>CRWOS x WORST クローズワースト 商品一覧</div></a>
<% end -%>
<% if var == "disney" -%>
<a href="http://www.aun-wa.com/SHOP/g42669/list.html" target="_top"><div>Disney ディズニー 商品一覧</div></a>
<% end -%>
<% if var == "eternal" -%>
<a href="http://www.aun-wa.com/SHOP/g145630/list.html" target="_top"><div>ETERNAL エターナル 商品一覧</div></a>
<% end -%>
<% if var == "indianmotocycle" -%>
<a href="http://www.aun-wa.com/SHOP/g29436/list.html" target="_top"><div>INDIAN MOTOCYCLE インディアンモトサイクル 商品一覧</div></a>
<% end -%>
<% if var == "ironheart" -%>
<a href="http://www.aun-wa.com/SHOP/g42521/list.html" target="_top"><div>IRON HEART アイアンハート 商品一覧</div></a>
<% end -%>
<% if var == "kaminari" -%>
<a href="http://www.aun-wa.com/SHOP/g126742/list.html" target="_top">KAMINARI カミナリ 商品一覧</div></a>
<% end -%>
<% if var == "misterfreedom" -%>
<a href="http://www.aun-wa.com/SHOP/g145596/list.html" target="_top"><div>MISTER FREEDOM ミスター・フリーダム 商品一覧</div></a>
<% end -%>
<% if var == "nishiki" -%>
<a href="http://www.aun-wa.com/SHOP/g29404/list.html" target="_top"><div>NISHIKI 錦 商品一覧</div></a>
<% end -%>
<% if var == "onidenim" -%>
<a href="http://www.aun-wa.com/SHOP/g123507/list.html" target="_top"><div>ONI DENIM 鬼デニム 商品一覧</div></a>
<% end -%>
<% if var == "sugarcane" -%>
<a href="http://www.aun-wa.com/SHOP/g29413/list.html" target="_top"><div>SUGAR CANE シュガーケーン 商品一覧</div></a>
<% end -%>
<% if var == "sunsurf" -%>
<a href="http://www.aun-wa.com/SHOP/g29479/list.html" target="_top"><div>SUN SURF サンサーフ 商品一覧</div></a>
<% end -%>
<% if var == "tedman" -%>
<a href="http://www.aun-wa.com/SHOP/g29396/list.html" target="_top"><div>TEDMAN テッドマン 商品一覧</div></a>
<% end -%>
<% if var == "theflathead" -%>
<a href="http://www.aun-wa.com/SHOP/g140012/list.html" target="_top"><div>THE FLAT HEAD フラットヘッド 商品一覧</div></a>
<% end -%>
<% if var == "vanson" -%>
<a href="http://www.aun-wa.com/SHOP/g44062/list.html" target="_top"><div>VANSON バンソン 商品一覧</div></a>
<% end -%>
<% if var == "williamgibson" -%>
<a href="http://www.aun-wa.com/SHOP/list.cgi?Search=WILLIAM" target="_top"><div>William Gibson ウィリアムギブソン 商品一覧</div></a>
<% end -%>
<% if var == "yoroi" -%>
<a href="http://www.aun-wa.com/SHOP/g140012/list.html" target="_top"><div>YOROI ヨロイ 商品一覧</div></a>
<% end -%>































