<!--商品説下リンク先、楽天-->
<% if var == "alpha" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002523/" target="_top"><div>ALPHA (アルファ) 商品一覧へ</div></a>
<% end -%>
<% if var == "buzzricksons" -%>
<a href="http://store.shopping.yahoo.co.jp/rodeobros/buzzrickso.html" target="_top"><div>BUZZ RICKSON'S (バズリクソンズ) 商品一覧へ</div></a>
<% end -%>
<% if var == "crowsworst" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002355/">クローズ×WORST (CROWS×WORST) 商品一覧へ</div></a>
<% end -%>
<% if var == "disney" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002482/" target="_top"><div>Disney (ディズニー) 商品一覧へ</div></a>
<% end -%>
<% if var == "eternal" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002492/" target="_top"><div>ETERNAL (エターナル) 商品一覧へ</div></a>
<% end -%>
<% if var == "indianmotocycle" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002406/" target="_top"><div>INDIAN MOTOCYCLE (インディアンモトサイクル) 商品一覧へ</div></a>
<% end -%>
<% if var == "ironheart" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001317/" target="_top"><div>IRON HEART (アイアンハート) 商品一覧へ</div></a>
<% end -%>
<% if var == "kaminari" -%>
<p><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002322/" target="_top"><div>KAMINARI カミナリ 商品一覧</div></a></p>
<% end -%>
<% if var == "misterfreedom" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002522/" target="_top"><div>Mister Freedom (ミスターフリーダム) 商品一覧へ</div></a>
<% end -%>
<% if var == "nishiki" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001399/" target="_top"><div>NISHIKI (錦) 商品一覧へ</div></a>
<% end -%>
<% if var == "onidenim" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002220/" target="_top"><div>鬼デニム (ONI DENIM) 商品一覧へ</div></a>
<% end -%>
<% if var == "sugarcane" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001351/" target="_top"><div>SUGAR CANE (シュガーケーン) 商品一覧へ</div></a>
<% end -%>
<% if var == "sunsurf" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001352/" target="_top"><div>SUN SURF (サンサーフ) 商品一覧へ</div></a>
<% end -%>
<% if var == "tedman" -%>
<a href="http://store.shopping.yahoo.co.jp/rodeobros/buzzrickso.html" target="_top"><div>TEDMAN (テッドマン) 商品一覧へ</div></a>
<% end -%>
<% if var == "theflathead" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002557/" target="_top"><div>THE FLAT HEAD (ザ・フラットヘッド) 商品一覧へ</div></a>
<% end -%>
<% if var == "vanson" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001803/" target="_top"><div>VANSON (バンソン) 商品一覧へ</div></a>
<% end -%>
<% if var == "williamgibson" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002578/" target="_top"><div>William Gibson (ウィリアム ギブソン) 商品一覧へ</div></a>
<% end -%>
<% if var == "yoroi" -%>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002393/" target="_top"><div>YOROI (鎧) 商品一覧へ</div></a>
<% end -%>