<!--商品説下リンク先、楽天すまふぉ-->
<center>
<% if var == "alpha" -%>
<p>ALPHA</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002523/">ALPHA(アルファ)商品一覧へ</a> 
<% end -%>

<% if var == "buzzricksons" -%>
<p>BUZZ RICKSON'S</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002275/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002276/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002277/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002576/">アクセサリー</a>
<% end -%>

<% if var == "crowsworst" -%>
<p>CROWS WORST</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002416/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002417/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002418/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002419/">アイテム</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002429/">つなぎ</a>
<% end -%>

<% if var == "disney" -%>
<p>Disney</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002482/">Disney 商品一覧へ</a>
<% end -%>

<% if var == "eternal" -%>
<p>エターナル</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002493/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002494/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002495/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002496/">アイテム</a>
<% end -%>

<% if var == "indianmotocycle" -%>
<p>インディアンモトサイクル</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002477/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002478/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002479/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002480/">アイテム</a>
<% end -%>

<% if var == "ironheart" -%>
<p>アイアンハート</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002499/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002500/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002501/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002502/">アイテム</a>
<% end -%>

<% if var == "kaminari" -%>
<p>カミナリ</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002506/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002505/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002507/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002508/">アイテム</a>
<% end -%>

<% if var == "misterfreedom" -%>
<p>ミスターフリーダム</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002524/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002525/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002526/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002527/">アクセサリー</a>
<% end -%>

<% if var == "nishiki" -%>
<p>錦</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001400/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002302/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002303/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002304/">アイテム</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002019/">エヴァンゲリオン</a>
<% end -%>

<% if var == "onidenim" -%>
<p>鬼デニム</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002516/">ワンウォッシュ</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002517/">ローデニム</a>
<% end -%>


<% if var == "sugarcane" -%>
<p>シュガーケーン</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002488/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002489/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002490/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002491/">アイテム</a>
<% end -%>

<% if var == "sunsurf" -%>
<p>サンサーフ</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001352/">サンサーフ商品一覧へ</a>
<% end -%>

<% if var == "tedman" -%>
<p>テッドマン</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002252/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002253/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002254/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002255/">アイテム</a> 
<% end -%>

<% if var == "theflathead" -%>
<p>THE FLAT HEAD</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002558/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002559/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002560/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002561/">アイテム</a>
<% end -%>

<% if var == "vanson" -%>
<p>VANSON</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002385/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002284/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002285/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002286/">アイテム</a>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002287/">つなぎ</a>
<% end -%>

<% if var == "williamgibson" -%>
<p>William Gibson</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002578/">ウィリアムギブソン商品一覧へ</a>
<% end -%>

<% if var == "yoroi" -%>
<p>YOROI</p>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002394/">ボトムス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002395/">トップス</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002396/">アウター</a> /
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002397/">アイテム</a>
<% end -%>



</center>
<center>
  <br><br>
  <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000630/">
  <img src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/sp-footer-bn-new.jpg?11111" width="100%">
  新商品一覧へ
  </a>
</center>