<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
<%= link_to "RODEO BASE MAKER",  root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規作成（仮）", 'items' %></li>
        <li><a target="top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/">楽天</a></li>
        <li><a target="top" href="http://shopping.geocities.jp/rodeobros/index.html">Yahoo</a></li>
        <li><a target="top" href="http://www.aun-wa.com/">公式</a></li>
        <li><a target="top" href="http://www.amazon.co.jp/gp/node/index.html?&me=A1UPASGL3CGDS0">Amazon</a></li>
        <li><a target="top" href="http://www.dena-ec.com/user/24431709">DeNA</a></li>
      </ul>
    </nav>
  </div>
</header>