<!--ブランドコンセプト楽天ここから-->
    <table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001349/" target=
          "_top"><img id="brand-image" src=
          "http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/buzz_brand.jpg"></a>
        </td>
        <td>真のレプリカを作ることを目指すBUZZRICKSON'S。<br />
現存するヴィンテージを徹底的に分析・研究し<br />
当時の素材を、繊維構造や紡織方法に至るまで時間をかけて解明することから始めています。<br />
その復刻作業は、スペック、素材、フォルム、パーツに至るまで徹底的にこだわり、<br />
一着一着にクラフトマンシップを込め、本物だけが持つ魅力に肉迫します。</td>
      </tr>
    </table>