<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002482/" target="_top"> 
          <img id="brand_logo" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/disney_brand.jpg" alt="skullcrows"> </a>
        </td>
        <td>世界中の人々を魅了する「Disney」とファッションブランドのコラボレーションアイテム。
        </td>
      </tr>
</table>