<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
     <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002492/" target="_top">
            <img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/eternal_brand.jpg"></a>
        </td>
        <td>ETERNAL(エターナル)は岡山発のジーンズ・デニムブランドです。<br>
      藍製品を取り扱うためにスタートしたETERNAL<br>
      素材の開発、染め、織り方、加工、すべてに拘り<br>
      旧式のシャトル機(力織機)を使用した完成度の高いアイテムを<br>
      ジーンズのメッカ岡山・倉敷から発信。</td>
      </tr>
   </table>