<table id="brand-concept" width="840">
<tr>
<td>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002322/" target="_top">
<img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/kaminari_brand.jpg">
</a>
</td>
<td>「OLD SCHOOL SHOWA MODERN」（古き良き時代の昭和モダン）をコンセプトに<br>
ノスタルジーを感じさせる当時の不良っぽく<br>
イカシタ文化、風俗、流行などを落とし込んだクロージングを展開。<br>
その懐かしさや、エッジの効いたデザインは<br>
オヤジ達を中心に多くの人の共感を得ている。
</td>
</tr>
</table>

