<table id="brand-concept" width="840">
<tr><td>
<a href="http://item.rakuten.co.jp/auc-rodeo/c/0000001399/" target= "_top">
<img id="brand-image" src= "http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/nishiki_brand.jpg">
</a>
</td>
<td>西陣の妙技を現代の洋装にアレンジすることから始まった錦。<br />
素材や構図に応じて、表現方法を使い分け、時にアメカジをも取り込む。<br />
和の美しさと洋のテイストを重ね合わせ、新たな和の世界を作り上げる新感覚のオリエンタルブランド。</p>
</td></tr>
</table>