<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
     <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002220/" target="_top">
            <img id="brand-image" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/oni_brand.jpg"></a>
        </td>
        <td>鬼デニムはたった一人の老職人に頼っています。<br>
      鬼デニムの生地を織る機会は古く、経験豊かな職人の手でなければ扱えない。<br>
      この老職人はすでに70代半ばというご高齢の方。<br>
      老職人の生産能力には限界があり、鬼デニムは一切の取材、雑誌掲載を基本的に断っています。<br>
      職人芸の傑作。それが鬼デニム。</td>
      </tr>
  </table>