<!--ブランドコンセプト楽天ここから-->
<table id="brand-concept" width="840">
      <tr>
        <td>
          <a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002578/" target="_top">
            <img id="brand_logo" src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/william_brand.jpg" alt="skullcrows">
          </a>
          </a>
        </td>
        <td>ブラック一色で統一された、SF作家ウィリアム・ギブスン氏とのコラボモデル。<br>
William Gibson (ウィリアム・ギブソン)とはキアヌ・リーブス主演のSF映画「JM」の<br>
原作と脚本を書いたことでも有名なウィリアム・ギブソン氏のコレクションです。<br>
ギブソンの世界観を元に、当時の官給品には存在しない「黒」のミリタリーアウターをコンセプチュアルに展開。<br>
素材や縫製はヴィンテージを忠実に再現しながら、シルエットや着丈は現代的にモディファイしています。<br>
        </td>
      </tr>
</table>