script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
script.
	$(function() {

		var imageArray = $('img.thumbImages');
		var index = 0;

		//サムネイルの画像をホバーしたときの動作ここから
		$('img.thumbImages').mouseover(function(){
			var selectedSrc = $(this).attr('src');
			selectedSrc = selectedSrc.replace("100x100", "700x700");
			$("#mainImage").attr("src",selectedSrc);
			transparentImage($(this));

			index = $('img.thumbImages').index(this);
			showTextForImages(index);

		});

		//サムネイルの画像をホバーを解除したときの動作ここから
		$('img.thumbImages').mouseout(function(){

		});

		//矢印押した時の処理ここから
		$('#right').click(function(){
			//zoomout(0);
			index ++;

			if(index == imageArray.length ) {
				index = 0;
			}

			changeImagesByClickingArrows(index);
			showTextForImages(index);

		});

		//矢印押した時の処理ここから
		$('#left').click(function(){
			index --;
			if(index == -1) {
				index = imageArray.length - 1;
			}
			changeImagesByClickingArrows(index);
			showTextForImages(index);

		});



		//この関数は、矢印が押された時、メイン画像を切り替える。
		function changeImagesByClickingArrows(index) {
			var imagesWillShown = $(imageArray[index]).attr('src');
			imagesWillShown = imagesWillShown.replace("100x100", "700x700");
			$('#mainImage').attr('src', imagesWillShown);
			transparentImage($(imageArray[index]));
		}

		//この関数は、画像が切り替わった時に、画像の説明文を切り替える。
		function showTextForImages (index) {
			var textForImages = $('p.textForImages');
			$(textForImages).css({"display":"none"});
			$(textForImages[index]).css({"display":"block"});
		}

		function transparentImage (target) {
			$('img.thumbImages').css({"opacity":""});
			target.css({"opacity":"0.6"});
		}

		//この関数は、初期設定を行う。
		function init() {
			//画像の説明文の処理ここから
			showTextForImages(0);
		}

		init();


	});
